*{
    border: 1px;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.nav{
    color: white;
    background-color: rgb(54, 53, 53);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

}

.nav-links{
    list-style: none;
    display:flex;
    text-decoration: none;
    justify-content: space-between;
    width: 50%;
}
/* https://www.w3schools.com/css/css_link.asp */
a{
    color: white;
}
/* https://www.w3schools.com/cssref/sel_hover.asp */
a:hover{
    color:teal;
    text-decoration: underline;
}

/* https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
.btn{
    outline: none;
    display: block;
    border: solid 1px #000000;
    font-size: 14px;
    line-height: 0;
    padding: 15px 20px;
    background: #0091d5; 
    color: #ffffff;
    box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
}

.container{
    background-color: white;
    width:1200px;
    height: 900px;
    margin: 0 auto;
}

.col{
    Margin: 20px 50px;
    Border: 2px solid darkgrey;
    width: 350px;
    height: 340px;
}

.wrapper img{
    width: 350px;
    height: 80px;
}

.content img{
    border-radius: 50%;
    border:2px solid white;
    margin-top: -52px;
}

.content{
    margin: 0px 30px
}
.content1 img{
    border: none
}

.ep{
    color: black
}

/* col2 */
.col2{
    Margin: -314px 90px 0px 700px;
    Border: 2px solid darkgrey;
    width: 350px;
    height: 150px;
}
.crequest{
    color: white;
    background: grey;  
    text-align: left;
    padding: 5px 0px 5px 30px
}
.content2 img{
    border-radius: 50%;
    width:10%;
    height:20%;
    margin: 10px 0px 0px 20px;
    justify-content: space-evenly;
}
.content2{
    list-style: none;
}
/* end of content 2 */

.col3{
    margin: 40px 25px 25px -2px;
    Border: 2px solid darkgrey;
    width: 350px;
    height: 250px;

}
.ucon{
    border: 1px solid darkgrey;
    color: white;
    background: grey;  
    text-align: left;
    padding: 5px 0px 5px 30px
}
.content3 img{
    border-radius: 50%;
    width:10%;
    height:20%;
    margin: 10px 0px 0px 20px;
    justify-content: space-evenly;
}
.content3{
    list-style: none;
}
/* end of content 3 */

.col4{
    margin: -20px 0px 0px -703px;
    Border: 2px solid darkgrey;
    width: 350px;
    height: 150px;
}

.edu{
    border: 1px solid darkgrey;
    color: white;
    background: grey;  
    text-align: left;
    padding: 5px 0px 5px 30px
}
#date{
    color: grey;
    padding:5px 3px 5px 3px;
}

/* https://www.w3schools.com/css/css_font_size.asp */
.content4{
    margin: -15px 25px;
    padding:20px 0px 0px 0px;
    font-size: 15px;
}
